.fa {background-color: dimgrey;}
.fa.fa-trash-o.delete-button.tt.tt-allow-content {background-color: dimgrey;}
.delete-button {display: none;}


.f9-widget-grid .callbacks-action-grid-cell-container i.delete-button, .f9-widget-grid .skill-voicemails-action-grid-cell-container i.delete-button, .f9-widget-grid .voicemails-action-grid-cell-container i.delete-button {
    color: blue
}
